<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Funky</title>
        <!-- for development 
        <link
            href="./../../../games/templates/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
            crossorigin="anonymous"
        />
        <link
            href="./../../../games/templates/bootstrap/icons/bootstrap-icons.css"
            rel="stylesheet"
        />-->
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />
        <style>
            a[href="#our_team"] {
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
            }
            #about_website > a:hover {
                transform: scaleX(1.01) scaleY(1.05);
                background-color: rgb(240, 240, 240);
                transition-duration: 0.3s;
                border-radius: inherit;
                box-shadow: inherit;
            }
            #about_website > a {
                transition-duration: 0.3s;
            }
            p {
                text-align: justify;
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-dark bg-primary shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img
                        src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg"
                        alt=""
                        width="30"
                        height="24"
                        class="d-inline-block align-text-top visually-hidden"
                    />
                    FUNKY
                </a>
                <form class="d-flex">
                    <button
                        id="login_signup_btn"
                        class="btn btn-sm bg-light text-primary fw-bolder"
                        type="button"
                        data-bs-toggle="modal"
                        href="#toggle_login_form"
                    >
                        LogIn / SignUp
                    </button>
                </form>
            </div>
        </nav>
        <!-- LogIn Form -->
        <div
            class="modal fade"
            id="toggle_login_form"
            aria-labelledby="exampleModalToggleLabel"
            tabindex="-1"
            style="display: none;"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">
                            LogIn
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="row">
                            <div
                                class="col-3 fw-bolder ms-auto mt-auto mb-auto pb-2"
                            >
                                Username:
                            </div>
                            <div class="col-7 me-auto pb-2">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    class="form-control"
                                    maxlength="30"
                                    placeholder="akash123"
                                    required
                                />
                            </div>
                            <div
                                class="col-3 fw-bolder ms-auto mt-auto mb-auto pb-2"
                            >
                                Phone No.:
                            </div>
                            <div class="col-7 me-auto pb-2">
                                <input
                                    type="tel"
                                    name=""
                                    id=""
                                    class="form-control"
                                    maxlength="10"
                                    placeholder="7596002323"
                                    required
                                />
                            </div>
                            <div class="col-3 fw-bolder ms-auto">
                                <button
                                    type="submit"
                                    class="btn btn-success w-100"
                                >
                                    Enter
                                </button>
                            </div>
                            <div class="col-3 me-auto">
                                <button
                                    type="reset"
                                    class="btn btn-danger w-100"
                                >
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer fs-4">
                        Hi! Visiting for the first time! Click
                        <button
                            id="signup_open_btn"
                            class="btn btn-primary mx-auto"
                            data-bs-target="#toggle_signup_form"
                            data-bs-toggle="modal"
                        >
                            SignUp
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- SignUp Form -->
        <div
            class="modal fade"
            id="toggle_signup_form"
            aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1"
            style="display: none;"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">
                            SignUp
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label
                                    for="validationDefault01"
                                    class="form-label"
                                    >First Name</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault01"
                                    required
                                />
                            </div>
                            <div class="col-md-6">
                                <label
                                    for="validationDefault02"
                                    class="form-label"
                                    >Last Name</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="validationDefault02"
                                    required
                                />
                            </div>
                            <div class="col-md-6">
                                <label
                                    for="validationDefaultUsername"
                                    class="form-label"
                                    >Username</label
                                >
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="validationDefaultUsername"
                                        aria-describedby="inputGroupPrepend2"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label
                                    for="validationDefault03"
                                    class="form-label"
                                    >Phone No.</label
                                >
                                <input
                                    type="tel"
                                    class="form-control"
                                    id="validationDefault03"
                                    required
                                />
                            </div>
                            <div class="col-6">
                                <button
                                    class="btn btn-success ms-auto w-100"
                                    type="submit"
                                >
                                    Submit Form
                                </button>
                            </div>
                            <div class="col-6">
                                <button
                                    class="btn btn-danger w-100"
                                    type="reset"
                                >
                                    Reset Form
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer fs-4">
                        We already know each other, Click
                        <button
                            id="login_open_btn"
                            class="btn btn-primary mx-auto"
                            data-bs-target="#toggle_login_form"
                            data-bs-toggle="modal"
                        >
                            LogIn
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body Content -->
        <div class="row mx-auto">
            <!-- Left Menu List -->
            <div class="left-nav col-md-3">
                <div class="list-group sticky-top shadow" id="about_website">
                    <a class="list-group-item" href="#why_games_are_important"
                        >Why games are important?</a
                    >
                    <a class="list-group-item" href="#kids_education_with_games"
                        >Kid's Education with games</a
                    >
                    <a
                        class="list-group-item"
                        href="#what_kind_of_games_to_play"
                        >What kind of games to play?</a
                    >
                    <a class="list-group-item" href="#how_funky_can_help"
                        >How Funky can help!</a
                    >
                    <a class="list-group-item" href="#our_team">Our Team</a>
                    <a
                        class="list-group-item visually-hidden"
                        href="#do_not_edit"
                    ></a>
                </div>
            </div>
            <!-- Right all content-->
            <div class="right-content col-md-7">
                <div
                    data-bs-spy="scroll"
                    data-bs-target="#about_website"
                    data-bs-offset="0"
                    tabindex="0"
                >
                    <h2 id="why_games_are_important">
                        <i class="bi-controller me-2 ms-3"></i>Why games are
                        important?
                    </h2>
                    <p class="col-md-12">
                        Games play a vital role in building students’
                        self-confidence. As educational tools, games are
                        constructive as they liven up teaching methods which are
                        normally considered dull and boring It helps students to
                        possess a cool and pleasant temper irrespective of their
                        fluctuating moods. On the other hand, games play a
                        crucial role in developing a healthy brain of the
                        child.<br />
                    </p>
                    <p class="col-md-12">
                        Following are some of the benefits of playing games to
                        the children:
                    </p>
                    <ul class="col-md-12">
                        <li>
                            Games let children use their creativity while
                            nurturing their imagination, physical, cognitive,
                            emotional strength, and proficiency in skills
                        </li>
                        <li>
                            It is because of the games that children at a very
                            young age interact and engage in the world around
                            them.
                        </li>
                        <li>
                            Games offer children to create and explore a world
                            that they can master, conquering their fears while
                            practicing adult roles, sometimes in conjunction
                            with other children or adult caregivers.
                        </li>
                    </ul>
                    <h2 id="kids_education_with_games" class="pt-3">
                        <i class="bi-book me-2 ms-3"></i>Kid's Education with
                        games
                    </h2>
                    <p class="col-md-12">
                        Students learn through the process of playing the game.
                        By playing a game, students may be able to understand a
                        new concept or idea, take on a different perspective, or
                        experiment with different options or variables.<br />&nbsp;&nbsp;&nbsp;&nbsp;
                        Through games, students can learn a variety of important
                        skills. There are countless skills that students can
                        develop through game playing such as critical thinking
                        skills, creativity, teamwork, and good sportsmanship.
                        <br />
                        The diagram below summarizes the role of games in
                        education:
                    </p>
                    <div style="margin-left: 200px;" class="col-md-12">
                        <img
                            src="https://d3i71xaburhd42.cloudfront.net/727ea08bf2ac8c0fc48c2b34bc1cf4afaca7b4c0/2-Figure1-1.png"
                            alt="Role_of_Games_in_Education_of_Kida"
                            width="420px"
                            height="400px"
                            class="img-fluid"
                        />
                    </div>
                    <h2 id="what_kind_of_games_to_play" class="pt-3">
                        <i class="bi-controller me-2 ms-3"></i>What kind of
                        games to play?
                    </h2>
                    <p>
                        Kids should play the games which imparts educational
                        values along with fun.Below are some educational puzzles
                        for kids:
                    </p>
                    <ol>
                        <li>
                            <strong>Crossword</strong><br />
                            <p>
                                Crosswords are the most popular games which are
                                in widespread use over the world. They are
                                mostly common in newspapers and magazines for
                                general knowledge testing. A crossword is a word
                                puzzle that has to be filled in by solving the
                                clues that will be provided. Across and Down
                                clues will be given to students on the most
                                important events in History based on the topic
                                that will be covered during face to face
                                teaching and the students have to fill in the
                                words or phrases by following the rules and
                                within the given time limit. This does not only
                                improve their knowledge of the subject but it
                                also increases their visual literacy skills.
                            </p>
                            <div style="margin-left: 190px;">
                                <img
                                    src="https://thumbs.dreamstime.com/z/crossword-puzzle-education-developing-worksheet-activity-page-study-english-color-pictures-game-children-crossword-153897007.jpg"
                                    alt="crossword_puzzles"
                                    height="500px"
                                    width="400px"
                                />
                            </div>
                        </li>
                        <li>
                            <strong>Sliding Puzzle</strong><br />
                            <p>
                                A sliding puzzle is a tile puzzle that
                                challenges a player to slide pieces along
                                certain route to rearrange the image into its
                                original format. As History is mostly about
                                facts and details of the Presidents who have
                                made an impact especially during the different
                                war eras, this type of puzzle will help students
                                revise and recall in a pictorial format. The
                                comment box at the end of the page will allow
                                students to discuss the symbolism of the image
                                they would have solved.
                            </p>
                            <div style="margin-left: 190px;">
                                <img
                                    src="https://i.pinimg.com/originals/ad/93/8d/ad938d37cdef6af61b9eca94307af3e9.gif"
                                    alt="sliding_puzzle"
                                    height="300px"
                                    width="300px"
                                />
                            </div>
                        </li>
                        <li>
                            <strong>Jigsaw puzzle</strong>
                            <br />
                            <p>
                                A jigsaw puzzle is a puzzle made of numerous
                                pieces that are cut into different shapes and
                                can be fit together to shape a picture.
                                Developing a complete learner with visual,
                                technology and knowledge literacy is the goal of
                                using technology in education. Jigsaw puzzles
                                are an ideal tool to teach students various
                                skills while also teaching then the content.
                            </p>
                            <div style="margin-left: 190px;">
                                <img
                                    src="https://images.all-free-download.com/images/graphiclarge/teamwork_background_crane_colorful_jigsaw_puzzles_erection_6833917.jpg"
                                    alt="jigsaw_puzzles"
                                    height="300px"
                                    width="300px"
                                />
                            </div>
                        </li>
                    </ol>
                    <h2 id="how_funky_can_help" class="pt-3">
                        <i class="bi-question-diamond me-2 ms-3"></i>How Funky
                        can help!
                    </h2>
                    <p>
                        Funky is a web pplication where kids can learn with
                        playing.It consists of several puzzles and challenges of
                        different difficulty level from a child’s perspective.
                        Solving a puzzle will unlock the next.
                        <br />&nbsp;&nbsp;&nbsp;&nbsp; It has account creation
                        feature for kid’s and numbers of level unlocked will be
                        saved for individual account.
                    </p>
                    <div class="bg-primary text-light py-3 rounded shadow-lg">
                        <h2 id="our_team">
                            <i class="bi-people me-2 ms-3"></i>Our Team
                        </h2>
                        <div class="col-10 mx-5">
                            <div class="row fs-1">
                                <div class="col-2 m-auto">
                                    <i
                                        class="bi-person-fill"
                                        style="font-size: 1.5em;"
                                    ></i>
                                </div>
                                <div class="col-10 m-auto">Neha Sorout</div>
                                <div class="col-2 m-auto">
                                    <i
                                        class="bi-person-fill"
                                        style="font-size: 1.5em;"
                                    ></i>
                                </div>
                                <div class="col-10 m-auto">Niranjan Pandit</div>
                                <div class="col-2 m-auto">
                                    <i
                                        class="bi-person-circle"
                                        style="font-size: 1.5em;"
                                    ></i>
                                </div>
                                <div
                                    class="col-10 m-auto"
                                    style="line-height: 0.7em;"
                                >
                                    Dr. Naresh Chauhan<br /><span
                                        class="fs-5 m-0"
                                        >(Supervisor)</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 id="do_not_edit"></h2>
                </div>
            </div>
        </div>
        <!-- for development 
        <script
            src="./../../../games/templates/bootstrap/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"
        ></script>-->
        <!-- JavaScript Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
