<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="We describe why games are important factor in kid's growth. The Games which are good for enhancing the thinking capability are here."
        />
        <title>{% block pagetitle %} {% endblock %}</title>
        <!-- for development -->
        {% load static %}
        <link
            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
            rel="stylesheet"
            integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
            crossorigin="anonymous"
        />
        <link
            href="{% static 'bootstrap/icons/bootstrap-icons.css' %}"
            rel="stylesheet"
        />
        <!-- CSS 
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />-->
        <style>
            #login_signup_btn {
                color: #0a52bd;
                background-color: white;
            }
            nav.navbar {
                z-index: 100;
                font-family: cursive;
            }
            .scrolToTopBtn {
                position: fixed;
                right: 50px;
                bottom: 50px;
                width: 1.5em;
                height: 1.5em;
                z-index: 3;
                font-size: 2em;
                font-weight: 100;
                color: var(--bs-dark);
                display: none;
                align-items: center;
                justify-content: center;
            }
            .scrolToTop {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                box-shadow: 0.1ch 0.1ch 0.1ch 0.05ch black inset,
                    -0.1ch -0.1ch 0.1ch 0.05ch white inset;
                border-radius: 30%;
                background-color: lightgrey;
                width: 100%;
                height: 100%;
                font-size: 1em;
                text-shadow: var(--bs-light) 0 0 2px;
                transition-duration: 0.5s;
            }
            .scrolToTop:hover {
                transition-duration: 0.5s;
                box-shadow: -0.1ch -0.1ch 0.1ch 0.05ch black inset,
                    0.1ch 0.1ch 0.1ch 0.05ch white inset;
            }
            .scrolToTop:active {
                transition-duration: 0.1s;
                box-shadow: 0.1ch 0.1ch 0.1ch 0.05ch black inset,
                    -0.1ch -0.1ch 0.1ch 0.05ch white inset;
            }
        </style>
        {% block pagestyle %} {% endblock %}
    </head>
    <body data-spy="scroll" data-target="#nav_scroll_spy">
        <!-- Navigation Bar -->
        <nav class="navbar bg-primary shadow" id="nav_bar">
            <div class="container-fluid">
                <a class="navbar-brand bg-light px-2 rounded" href="/">
                    <img
                        src="{% static 'home/favicon.ico' %}"
                        alt=""
                        width="24"
                        height="24"
                        class="d-inline-block align-text-top"
                    />
                    FUNKY
                </a>
                {% if user.is_authenticated %}
                <a href="http://127.0.0.1:8000/signup/userprofile">
                    <button
                        id="login_signup_btn"
                        class="btn btn-sm fw-bolder"
                        type="button"
                    >
                        <i class="bi bi-person-fill"></i>
                        {{ user.first_name }} {{ user.last_name }}
                    </button>
                </a>
                {% else %}
                <form class="d-flex">
                    <button
                        id="login_signup_btn"
                        class="btn btn-sm fw-bolder"
                        type="button"
                        data-bs-toggle="modal"
                        href="#toggle_login_form"
                    >
                        LogIn / SignUp
                    </button>
                </form>
                {% endif %}
            </div>
        </nav>
        <!-- LogIn Form -->
        <div
            class="modal fade"
            id="toggle_login_form"
            aria-labelledby="exampleModalToggleLabel"
            tabindex="-1"
            style="display: none;"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">
                            LogIn
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form
                            action="http://127.0.0.1:8000/signup/userlogin"
                            class="row"
                            method="post"
                        >
                            {% csrf_token %}
                            <div
                                class="col-3 fw-bolder ms-auto mt-auto mb-auto pb-2"
                            >
                                Username:
                            </div>
                            <div class="col-7 me-auto pb-2">
                                <input
                                    type="text"
                                    name="lusername"
                                    id="username"
                                    class="form-control"
                                    maxlength="30"
                                    placeholder="akash123"
                                    required
                                />
                            </div>
                            <div
                                class="col-3 fw-bolder ms-auto mt-auto mb-auto pb-2"
                            >
                                Phone No.:
                            </div>
                            <div class="col-7 me-auto pb-2">
                                <input
                                    type="tel"
                                    name="lpassword"
                                    id="password"
                                    class="form-control"
                                    maxlength="10"
                                    placeholder="7596002323"
                                    required
                                />
                            </div>
                            <div class="col-3 fw-bolder ms-auto">
                                <button
                                    type="submit"
                                    class="btn btn-success w-100"
                                >
                                    Enter
                                </button>
                            </div>
                            <div class="col-3 me-auto">
                                <button
                                    type="reset"
                                    class="btn btn-danger w-100"
                                >
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer fs-4">
                        Hi! Visiting for the first time! Click
                        <button
                            id="signup_open_btn"
                            class="btn btn-primary mx-auto"
                            data-bs-target="#toggle_signup_form"
                            data-bs-toggle="modal"
                        >
                            SignUp
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- SignUp Form -->
        <div
            class="modal fade"
            id="toggle_signup_form"
            aria-labelledby="exampleModalToggleLabel2"
            tabindex="-1"
            style="display: none;"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">
                            SignUp
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form
                            class="row g-3"
                            action="http://127.0.0.1:8000/signup"
                            method="post"
                        >
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label
                                    for="validationDefault01"
                                    class="form-label"
                                >
                                    First Name
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="firstName"
                                    required
                                />
                            </div>
                            <div class="col-md-6">
                                <label
                                    for="validationDefault02"
                                    class="form-label"
                                >
                                    Last Name
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="lastName"
                                    required
                                />
                            </div>
                            <div class="col-md-6">
                                <label for="username" class="form-label">
                                    Username
                                </label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="username"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label
                                    for="validationDefault03"
                                    class="form-label"
                                >
                                    Phone No.
                                </label>
                                <input
                                    type="tel"
                                    class="form-control"
                                    name="password"
                                    required
                                />
                            </div>
                            <div class="col-6">
                                <button
                                    class="btn btn-success ms-auto w-100"
                                    type="submit"
                                >
                                    Submit Form
                                </button>
                            </div>
                            <div class="col-6">
                                <button
                                    class="btn btn-danger w-100"
                                    type="reset"
                                >
                                    Reset Form
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer fs-4">
                        We already know each other, Click
                        <button
                            id="login_open_btn"
                            class="btn btn-primary mx-auto"
                            data-bs-target="#toggle_login_form"
                            data-bs-toggle="modal"
                        >
                            LogIn
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrolToTopBtn">
            <div class="scrolToTop">
                <a href="#nav_bar"><i class="bi bi-arrow-up"></i></a>
            </div>
        </div>
        {% block pagebody %} {% endblock %}
        <!-- for development -->
        <script
            src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"
        ></script>
        <!-- JavaScript Bundle with Popper
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"
        ></script>-->
        <script>
            const scrolToTopBtn = document.querySelector(".scrolToTopBtn");
            window.onscroll = function () {
                if (
                    document.body.scrollTop > 500 ||
                    document.documentElement.scrollTop > 500
                ) {
                    scrolToTopBtn.style.display = "flex";
                } else {
                    scrolToTopBtn.style.display = "none";
                }
            };
        </script>
        {% block pagescript %} {% endblock %}
    </body>
</html>
